@import "_variables.scss";
@import "~material-bottom-nav";

@mixin awac-core($theme) {
    @include awac-mat-icon();
    @include make-base-theme($theme);
    @include awac-defaults();
}

/* FONTAWESOME */
/* =========== */

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

/* MATERIAL ICONS */
/* ============== */
@mixin awac-mat-icon() {
    @font-face {
        font-family: "Material Icons";
        font-style: normal;
        font-weight: 400;
        src: url("#{$mat-font-path}/MaterialIcons-Regular.eot"); /* For IE6-8 */
        src: local("Material Icons"), local("MaterialIcons-Regular"),
            url("#{$mat-font-path}/MaterialIcons-Regular.woff2") format("woff2"),
            url("#{$mat-font-path}/MaterialIcons-Regular.woff") format("woff"),
            url("#{$mat-font-path}/MaterialIcons-Regular.ttf") format("truetype");
    }

    .fa,
    .fas,
    .far,
    .fal,
    .fad,
    .fab {
        font-size: 24px; /* Preferred icon size */
        display: inline-block;
        line-height: 1;
        text-transform: none;
        letter-spacing: normal;
        word-wrap: normal;
        white-space: nowrap;
        direction: ltr;

        /* Support for all WebKit browsers. */
        -webkit-font-smoothing: antialiased;
        /* Support for Safari and Chrome. */
        text-rendering: optimizeLegibility;

        /* Support for Firefox. */
        -moz-osx-font-smoothing: grayscale;

        /* Support for IE. */
        font-feature-settings: "liga";
    }

    .material-icons {
        font-family: "Material Icons";
        font-weight: normal;
        font-style: normal;
        font-size: 24px; /* Preferred icon size */
        display: inline-block;
        line-height: 1;
        text-transform: none;
        letter-spacing: normal;
        word-wrap: normal;
        white-space: nowrap;
        direction: ltr;

        /* Support for all WebKit browsers. */
        -webkit-font-smoothing: antialiased;
        /* Support for Safari and Chrome. */
        text-rendering: optimizeLegibility;

        /* Support for Firefox. */
        -moz-osx-font-smoothing: grayscale;

        /* Support for IE. */
        font-feature-settings: "liga";
    }

    .mat-icon-button {
        line-height: 1 !important;
    }
}

/* BASE THEME */
/* ===========*/

@mixin make-base-theme($theme) {
    // Extract the palettes you need from the theme definition.
    $mprimary: map-get($theme, primary);
    $maccent: map-get($theme, accent);
    $mwarn: map-get($theme, warn);

    $mbackground: map-get($theme, background);
    $mforeground: map-get($theme, foreground);

    $active-item-bg: mat-color($mprimary, 200);

    .primary-bg {
        background-color: mat-color($mprimary);
    }

    .accent-bg {
        background-color: mat-color($maccent);
    }

    .warn-bg {
        background-color: mat-color($mwarn);
    }

    .list-item-active {
        background-color: $active-item-bg;
    }

    .popout-container .mat-dialog-container {
        padding: 0px !important;
    }

    .pgb-primary {
        background-color: mat-color($mprimary, 400);
    }

    .pgb-accent {
        background-color: mat-color($maccent, 400);
    }

    .pgb-warn {
        background-color: mat-color($mwarn, 400);
    }

    .pgb-red {
        background-color: mat-color($mat-red, 400);
    }

    .pgb-blue {
        background-color: mat-color($mat-blue, 400);
    }

    .pgb-yellow {
        background-color: mat-color($mat-yellow, 400);
    }

    .pgb-purple {
        background-color: mat-color($mat-purple, 400);
    }

    .pgb-primary-bg {
        background-color: mat-color($mprimary, 50);
    }

    .pgb-accent-bg {
        background-color: mat-color($maccent, 50);
    }

    .pgb-warn-bg {
        background-color: mat-color($mwarn, 50);
    }

    .pgb-red-bg {
        background-color: mat-color($mat-red, 50);
    }

    .pgb-blue-bg {
        background-color: mat-color($mat-blue, 50);
    }

    .pgb-yellow-bg {
        background-color: mat-color($mat-yellow, 50);
    }

    .pgb-purple-bg {
        background-color: mat-color($mat-purple, 50);
    }

    .svg-fg {
        fill: mat-color($mforeground, base);
        color: mat-color($mforeground, base);
    }

    $bottom-nav-bg-color: mat-color($mbackground, background);
    $bottom-nav-inactive-color: mat-color($mforeground, base);
    $bottom-nav-active-color: mat-color($mprimary, 700);
    .bottom-nav {
        @include bottom-nav(
            $background-color: $bottom-nav-bg-color,
            $active-color: $bottom-nav-active-color,
            $inactive-color: $bottom-nav-inactive-color,
            $hide-inactive-labels: false
        );
        .bottom-nav__destination--active {
            .svg-fg {
                fill: $bottom-nav-active-color;
                color: $bottom-nav-active-color;
            }
        }
    }

    .foreground-color {
        color: mat-color($mforeground, base) !important;
    }
    .background-color {
        background-color: mat-color($mbackground, base) !important;
    }

    .gradient-mat-primary {
        background-color: transparent;
        background-position: 50%;
        background-image: linear-gradient(60deg, mat-color($mprimary, 900) 0%, mat-color($mprimary, 300) 100%);
    }

    .gradient-bg-fade {
        background-image: linear-gradient(180deg, mat-color($mbackground, background) 20%, transparent 100%);
    }
}

@mixin awac-defaults() {
    body,
    html {
        height: 100vh;
    }

    body {
        font-family: Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
        font-family: 500 20px/32px Roboto, "Helvetica Neue", sans-serif !important;
        margin: 0;
        padding: 0;
    }

    .center-layout {
        display: flex;
        justify-content: center;
    }

    .center-layout-container {
        width: 98%;
    }
    .center-layout-container.small {
        max-width: 400px;
    }
    .center-layout-container.medium {
        max-width: 600px;
    }
    .center-layout-container.large {
        max-width: 800px;
    }
    .center-layout-container.xlarge {
        max-width: 1000px;
    }

    .main-div {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 64px;
    }
    .main-container {
        width: 98%;
        // max-width: 600px;
    }

    .awac-icon {
        font-size: 24px;
        height: 24px;
        width: 24px;
        text-align: center;

        svg {
            height: 24px;
            width: 24px;
        }
    }

    .center {
        width: auto;
        height: auto;
        margin: auto;
    }

    .fill-remaining-space {
        flex: 1 1 auto;
    }

    .layout-line {
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        align-items: center;

        height: 100%;
        // width: 100%;

        .right {
            margin-left: auto;
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }
}
